$cor-verde-padrao: #00C755;
$cor-branco-padrao: #FFFFFF;
$cor-cinza-desabilitado: #969696;
$cor-de-fundo: #C2FFD5;
$cor-letra-nao-selecionada: #55D47B;
$cor-verde-selecionado: #00B730;
$cor-preto: #000000;
$cor-cinza-subtitulo: #4A4A4A;
$cor-cinza-input: #9A9A9A;
$cor-imagem-basica-perfil: #D9D9D9;
$cor-card-login: #F4F4F4;
$cor-link: #3A36FF;
$cor-vermelho: #FF0000;