.refeicao {
    padding: 6.667vw 8.889vw 28.889vw 8.889vw;

    &__titulo {
        margin-top: 13.333vw;
        margin-bottom: 8.889vw;
        font-family: 'Manrope-Bold';
        font-size: 6.667vw;
    }

    &__botao {
        margin-top: 11.667vw;
    }
}