@import '../../../../../styles/base-import';

.cadastro-pacientes {
    aspect-ratio: 16 / 9;

    &__borda-superior {
        height: 8.25vw;
        width: 100%;
        background-color: $cor-verde-selecionado;
        display: flex;
        margin-bottom: 1.852vw;
        align-items: center;
    }

    &__texto {
        font-family: 'Manrope-Bold';
        color: $cor-branco-padrao;
        font-size: 2.315vw;
        padding-left: 10vw;
    }

    &__container {
        padding: 0 1.389vw 1.389vw 10vw;
        display: flex;
    }

    &__card {
        width: 100%;
        height: 100%;
        background-color: $cor-branco-padrao;
        border: 0.116vw solid $cor-verde-selecionado;
        border-radius: 1.389vw;
        min-height: 75vh;
        max-height: 75vh;
        box-shadow: 0.405vw 0.405vw 0.694vw 0 rgba(0, 0, 0, 0.25);
        padding: 1.389vw 15vw 1.389vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        &--center {
            justify-content: center;
        }
    }

    &__espacamento-input {
        margin-bottom: 0.926vw;
    }

    &__voltar {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        margin-bottom: 1.389vw;
        font-family: 'Manrope-Bold';
        font-size: 1.389vw;
        color: $cor-verde-selecionado;

        &--texto {
            padding-left: 0.926vw;
        }
    }

    &__titulo {
        font-family: 'Manrope-Bold';
        font-size: 1.852vw;
        margin-bottom: 1.389vw;
    }

    &__cadastrar {
        padding-top: 1.389vw;
    }
}

.cadastro-pacientes__input > input {
    height: 2.315vw;
    border: 0;
    border-bottom: 0.231vw solid $cor-letra-nao-selecionada;
    background: none;
    font-family: 'Manrope-Regular';
    font-size: 1.389vw;
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $cor-letra-nao-selecionada;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $cor-letra-nao-selecionada;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $cor-letra-nao-selecionada;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $cor-letra-nao-selecionada;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: $cor-letra-nao-selecionada;
}

::placeholder { /* Most modern browsers support this now. */
   color: $cor-letra-nao-selecionada;
}