@import '../../../../../styles/base-import';

.esqueci-senha {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1.389vw 1.852vw 1.389vw 1.852vw;

    &__logo {
        padding-bottom: 3.704vw;
    }

    &__card {
        padding: 3.704vw 3.704vw 5.556vw;
        background-color: $cor-card-login;
        border-radius: 1.389vw;
        box-shadow: 0vw 0.116vw 0.231vw 0 rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 27.141vw;
        min-height: 33.738vw;
        max-height: 33.738vw;
        font-size: 1.389vw;

        &--loading {
            justify-content: center;
        }

        &--nome {
            padding-bottom: 5.556vw;
        }

        &--nome-enviado {
            padding-bottom: 5.556vw;
        }

        &--descricao {
            padding-bottom: 3.704vw;
            font-family: 'Manrope-Medium';
            text-align: center;
        }

        &--descricao-enviado {
            text-align: center;
            padding-bottom: 3.704vw;
            font-family: 'Manrope-Medium';
        }

        &--botao-ok {
            width: 100%;
        }

        &--login {
            padding-bottom: 7.407vw;
        }

        &--login, &--botao {
            width: 100%;
        }
    }
}