.loading {
    &__fullpage { 
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}

img {
    width: 7.407vw;
    height: 7.407vw;
}