<table class="tabela-alimentos">
    <thead class="tabela-alimentos__titulos">
        <tr>
            <th class="tabela-alimentos__coluna-1">{{ 'TABELA_ALIMENTOS.QUANTIDADE' | translate }}</th>
            <th class="tabela-alimentos__coluna-2">{{ 'TABELA_ALIMENTOS.ALIMENTO' | translate }}</th>
        </tr>
    </thead>
    <tbody class="tabela-alimentos__corpo">
        <tr *ngFor="let alimento of alimentos; index as i" class="tabela-alimentos__itens">
            <td class="tabela-alimentos__coluna-1">
                {{ alimento.quantidade }}
            </td>
            <td class="tabela-alimentos__coluna-2">
                {{ alimento.descricao }}
            </td>
        </tr>
    </tbody>
</table>