@import '../../../../styles.scss';

button {
    cursor: pointer;
    width: 100%;
    border: 0px;
}

button:disabled {
    background-color: $cor-cinza-desabilitado;
}

.brcli__botao {
    &--primario-desktop {
        background-color: $cor-verde-padrao;
        font-family: 'Manrope-SemiBold';
        font-size: 1.389vw;
        height: 3.704vw;
        color: $cor-branco-padrao;
        border-radius: 1.389vw;
    }

    &--flutuante-desktop {
        background-color: $cor-verde-padrao;
        font-family: 'Manrope-SemiBold';
        font-size: 1.389vw;
        height: 3.704vw;
        color: $cor-branco-padrao;
        border-radius: 1.389vw;
        box-shadow: 0vw 1.111vw 1.111vw 0 rgba(0, 0, 0, 0.25);
    }
}