<div [hidden]="!loading">
    <app-loading></app-loading>
</div>
<div class="perfil" [hidden]="loading || erro">
    <h1 class="perfil__titulo">{{ 'PERFIL.TITULO' | translate }}</h1>
    <div class="perfil__card-usuario">
        <div class="perfil__card-usuario--informacoes-usuario">
            <label
                [ngClass]="{'perfil__sem-imagem': !arquivo }"
                [ngStyle]="{'background-image': (arquivo && arquivo !== '') ? 'url(' + arquivo + ')' : ''}"
                class="perfil__imagem"
                for="avatar-perfil"
                >
                <input type="file" id="avatar-perfil" accept="image/*" (change)="onFileChange($event)"/>
            </label>
            <div class="perfil__card-usuario--dados-usuario">
                <div class="perfil__card-usuario--nome">{{ paciente?.nome }}</div>
                <div class="perfil__card-usuario--usuario">{{ paciente?.nomeAcesso }}</div>
            </div>
        </div>
        <div class="perfil__card-usuario--altura">{{ 'PERFIL.ALTURA' | translate }}<span class="perfil__card-usuario--valor">{{ paciente?.altura }}</span></div>
        <div class="perfil__card-usuario--email">{{ paciente?.email }}</div>
    </div>
    <h1 class="perfil__titulo">{{ 'PERFIL.TITULO_NUTRICIONISTA' | translate }}</h1>
    <div class="perfil__card-nutricionista">
        <div class="perfil__card-nutricionista--nome">{{ paciente?.nutricionista?.nome }}</div>
        <div class="perfil__card-nutricionista--endereco">{{ paciente?.nutricionista?.endereco }}</div>
        <div class="perfil__card-nutricionista--telefone">{{ paciente?.nutricionista?.telefone }}</div>
    </div>
    <div class="perfil__botao">
        <app-botao (botaoClicado)="sair()" [texto]="'PERFIL.BOTAO_SAIR' | translate"></app-botao>
    </div>
</div>
<div class="perfil" [hidden]="!erro">
    <app-erro></app-erro>
    <div class="perfil__botao">
        <app-botao (botaoClicado)="sair()" [texto]="'PERFIL.BOTAO_SAIR' | translate"></app-botao>
    </div>
</div>
<app-menu-rodape [selecao]="'perfil'"></app-menu-rodape>
