@import '../../../../../styles/base-import';

.login {

    aspect-ratio: 16 / 9;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1.389vw 1.852vw 1.389vw 1.852vw;

    &__logo {
        padding-bottom: 3.704vw;
    }

    &__card {
        padding: 3.704vw 3.704vw 5.556vw;
        background-color: $cor-card-login;
        border-radius: 1.389vw;
        box-shadow: 0vw 0.116vw 0.231vw 0 rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 27.141vw;
        min-height: 33.738vw;
        max-height: 33.738vw;
        font-size: 1.389vw;

        &--loading {
            justify-content: center;
        }

        &--alerta {
            text-indent: -9999vw;
            color: $cor-card-login;
        }

        &--alerta-ativo {
            background-color: $cor-vermelho;
            width: 100%;
            color: $cor-branco-padrao;
            text-align: center;
            font-family: 'Manrope-Bold';
            text-indent: 0vw;
        }

        &--descricao {
            padding-bottom: 3.704vw;
            text-align: center;
            font-family: 'Manrope-Medium';
        }

        &--nome {
            padding-bottom: 5.556vw;
        }

        &--login, &--senha, &--botao {
            width: 100%;
            padding-bottom: 0.926vw;
        }

        &--esqueceu-senha {
            align-self: flex-start;
            padding-bottom: 0.926vw;
            font-size: 0.926vw;
        }

        &--esqueceu-senha, &--primeiro-acesso {
            font-family: 'Manrope-SemiBold';
            color: $cor-link;
        }
    }
}