@import '../../../../../styles/base-import';

.avaliacao-fisica {

    padding: 6.667vw 8.889vw 28.889vw 8.889vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    &__titulo {
        font-size: 6.667vw;
        font-family: 'Manrope-Bold';
        margin-bottom: 6.667vw;
    }

    &__imagem {
        width: 27.778vw;
        height: 27.778vw;
        background: url('../../../../../../assets/images/New_Feature.svg') no-repeat;
        background-size: 27.778vw 27.778vw;
        background-position: center;
        margin-bottom: 6.667vw;
    }

    &__card {
        background-color: $cor-branco-padrao;
        border: 0.556vw solid $cor-verde-padrao;
        border-radius: 6.667vw;
        padding: 4.444vw 4.444vw 8.889vw 4.444vw;
        font-family: 'Manrope-Medium';
        font-size: 4.444vw;
        text-align: center;
        box-shadow: 0vw 1.111vw 1.111vw 0 rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__botao {
        flex-shrink: 0;
        margin-top: 6.667vw;
        width: 100%;
    }
}