<div [hidden]="!loading">
    <app-loading></app-loading>
</div>
<div class="avaliacao-fisica" [hidden]="loading || erro">
    <h1 class="avaliacao-fisica__titulo">{{ 'AVALIACAO_FISICA.TITULO' | translate }}</h1>
    <div class="avaliacao-fisica__card">
        <div class="avaliacao-fisica__imagem"></div>
        {{ 'AVALIACAO_FISICA.DESCRICAO' | translate }}
        <app-botao  (botaoClicado)="baixarAvaliacaoFisica()" class="avaliacao-fisica__botao" [texto]="'AVALIACAO_FISICA.BOTAO_BAIXAR' | translate "></app-botao>
    </div>
</div>
<div class="avaliacao-fisica" [hidden]="!erro">
    <app-erro></app-erro>
</div>
<app-menu-rodape [selecao]="'avaliacao'"></app-menu-rodape>