<div [hidden]="!loading">
    <app-loading></app-loading>
</div>
<div class="plano-alimentar" [hidden]="loading || erro">
    <app-card-informacao [texto]="'PLANO_ALIMENTAR.TEXTO_AGENDAMENTO' | translate" [imagem]="'relogio'"></app-card-informacao>
    <h1 class="plano-alimentar__titulo">{{ 'PLANO_ALIMENTAR.TITULO' | translate }}</h1>
    <div class="plano-alimentar__refeicoes" *ngFor="let refeicao of planoAlimentar.refeicoes">
        <app-card-informacao
            descricao="{{ 'PLANO_ALIMENTAR.HORARIO_PREVISTO' | translate }} {{ refeicao.horario }}"
            [direcionador]="true"
            [imagem]="refeicao.tipo"
            (cliqueBotao)="abrirRefeicao(refeicao)"
        ></app-card-informacao>
    </div>
</div>
<div class="plano-alimentar" [hidden]="!erro">
    <app-erro></app-erro>
</div>
<app-menu-rodape [selecao]="'plano'"></app-menu-rodape>