@import '../../../../styles/base-import';

.texto-input > input {
    height: 2.315vw;
    border: 0;
    border-bottom: 0.231vw solid $cor-letra-nao-selecionada;
    background: none;
    font-family: 'Manrope-Regular';
    font-size: 1.389vw;
    width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $cor-letra-nao-selecionada;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $cor-letra-nao-selecionada;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $cor-letra-nao-selecionada;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $cor-letra-nao-selecionada;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: $cor-letra-nao-selecionada;
}

::placeholder { /* Most modern browsers support this now. */
   color: $cor-letra-nao-selecionada;
}