<div [hidden]="!loading">
    <app-loading></app-loading>
</div>
<div class="metas" [hidden]="loading || erro">
    <h1 class="metas__titulo">{{ 'METAS.TITULO' | translate }}</h1>
    <div class="metas__listagem" *ngFor="let meta of planoMetas.metas" [hidden]="loadingSalvarMetas">
        <app-card-checkbox (statusMetas)="metaAlterada($event)" [meta]="meta"></app-card-checkbox>
    </div>
    <div class="metas__listagem" [hidden]="!loadingSalvarMetas">
        <app-loading [fullpage]="false"></app-loading>
    </div>
    <div class="metas__botao">
        <app-botao  (botaoClicado)="salvarMetas()" [desabilitado]="metasNaoAlteradas" [texto]="'METAS.BOTAO_SALVAR' | translate"></app-botao>
    </div>
    <div class="metas__aviso-sucesso" [hidden]="!sucessoAoSalvar">
        {{ aviso }}
    </div>
    <div class="metas__aviso-erro" [hidden]="!erroAoSalvar">
        {{ aviso }}
    </div>
</div>
<div class="metas" [hidden]="!erro">
    <app-erro></app-erro>
</div>
<app-menu-rodape [selecao]="'metas'"></app-menu-rodape>
